img {
  width: 300px;
  float: left;
}

.Valimar{
    position:absolute;
    top: 30px;
    left: 50px;
}

.Ordine{
    position:absolute;
    right: 50px;
    top: 200px;
}

.ashen-text{
    position: absolute;
    font-size: x-large;
    left: 350px;
    top: 150px; 
}

.azure-text{
    position:absolute;
    font-size: x-large;
    right: 400px;
    top: 300px;
}

