img{
    width: 400px;
    float: left;
    position: absolute;
    top: 20px;
    right: 50px;
}

.return{
    position: absolute;
    font-size: x-large;
    left: 20px;
    bottom: 0px;
}

.description{
    position: absolute;
    left: 20px;

    font-size: x-large;
    line-height: 2;
    margin-right: 700px;

}