.content-box {
    border: 1px solid #ccc;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;  
    margin: 3% auto;
    width: 84%;
    overflow: hidden;
    position: relative;
  }

img{
    width: 15vw;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.content-box h2{
    font-size: 3vw;
    margin-bottom: 10px;
    
}

.content-box .description{
    font-size: 2vw;
    line-height: 2;
}

.image-box{
    position: relative;
    padding: 10px;
    margin-left: 5px;
    float: right;
    width: 25vw;
}

.image-box .selector-buttons{
    display: flex;
    justify-content: space-around;
}

.selector-buttons button{
    z-index: 1;
    border: none;
    width: 75px;
    height: 25px;
    font-size: 10px;
    margin-bottom: 5px;
    color: rgb(87, 87, 87);
}

.selector-buttons button:hover{
    color: rgb(0, 0, 0);
}

.image-box img{
    width: 100%;
    margin: 0;
}

/*There isn't a way to achieve max-font-size so below is a way to achieve that*/
/*Mobile screens*/
@media screen and (max-width: 600px){
    .content-box h2{
        font-size: 36px;
    }

    .content-box .description{
        font-size: 16px;
    }

}

/*Tablet display*/
@media screen and (min-width: 600px) and (max-width: 1024px){
    .content-box h2{
        font-size: 36px
    }

    .content-box .description{
        font-size: 18px;
    }
}

/*Desktops*/
@media screen and (min-width: 1024px){
    .content-box h2{
        font-size: 36px;
    }

    .content-box .description{
        font-size: 18px;
    }

}





