
body{
    padding: 10px;
    background-color: #f2f2f2;
    background-image: url("../Pictures/background.png");

    background-size: cover;
    background-position: center 750px;
}

.content-box {
    border: 1px solid #ccc;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;  
    margin: 3% auto;
    width: 84%;
    overflow: hidden;
    position: relative;
  }

.content-box img{
    width: 200px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
}

.content-box .description{
    font-size: large;
    line-height: 2; 
}

.content-box b{
    font-size: xx-large;
    margin-bottom: 2%;
}

/*
content-box > .lianne-container > .lianne-images > img
                                > .lianne-text
this is the family tree
It's set up so that lianne-container takes 100% of the space that content-box has 
lianne-container is basically another box inside content-box

content-box looks way bigger than it actually is that's because of the padding and margin
this explains why content-box wont take the entire screen when setting it's width to 100%

lianne-container is then split into two with lianne-text and lianne-images 
lianne-images is split in two to share space between the two images

The problem is that trying to size the pictures inside of the lianne-images div is ridicuously
annoying. Like setting the width of the pictures to 100% does not make much of a difference 
*/

.lianne-container{
    width: 100%;
    display: flex;
}

.lianne-images{
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.lianne-images > img{
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 300px;
    min-width: 200px;
}




