
body{
    padding: 10px;
    background-color: #f2f2f2;
    background-image: url("../Pictures/background.png");

    background-size: cover;
    background-position: center 750px;
}

.content-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;  
    margin: 60px auto;
    width: 84%;
    overflow: hidden;
    position: relative;
  }

.content-box img{
    width: 200px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
}

.content-box .description{
    font-size: large;
    line-height: 2;
    
}