*{
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color: #f2f2f2;
    background-image: url("../Pictures/background.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    /*height of the body element will always be the size of the entire viewport*/
    height: 100vh;
}

/*This is the main text-box and it forces everything to be in columns*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /*aligns text to be center which allows great-one to be center*/

    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;  
    margin: 60px auto;
    width: 84%;
    overflow: hidden;
}

.main-container .great-one{
    margin-top: 20px;
}

.main-container .knights{
    display: inline-block;
    margin: 0; 
    white-space: nowrap;
}

/*the white-space: nowrap prevents the <a> from wrapping i.e forces them all
to be on one line and inline-block forces <a> to behave like blocks*/
.main-container a{
    display: inline-block;
}

.main-container a img{
    width: calc(15vw - 4vw);
    height: auto;
    opacity: 0.8;
}

.main-container a img:hover{
    opacity: 1;
}

.main-container .title-text p{
    margin-bottom: 3%;
    position: relative;
    font-weight: bold;

    /*the following code is for responsive design
    3vw makes the font size equal to 3 times the viewport's width
    and it positions the text 20% of the displayfrom the left */
    font-size: 3vw;
}


@media screen and (max-width: 412px){
    .main-container .knights{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        
    }

    .knights.higher{
        grid-template-columns: repeat(3, 1fr);
    }

}

