*{
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color: #f2f2f2;
    background-image: url("../Pictures/background.png");

    background-size: cover;
    background-position: center 750px;
}

.main-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;  
    margin: 60px auto;
    width: 84%;
    overflow: hidden;
    position: relative;
}

.main-container img{
    max-height: 200px;
    width: 15%;
}

/*
based on my understanding .main-container .title-text b
means "select the item with b tags that have the class title-text that is the decendent 
of main-container" 

so if we wanna change stuff about the title-text we gotta do it to the whole thing
i dunno why it doesnt work if we put all this
    position: relative;
    left: 25%;
    font-size: xx-large;
in the .main-container .title-text

*/
.main-container .title-text b{
    position: relative;
    left: 25%;
    font-size: xx-large;
}

.main-container .title-text{
    margin-bottom: 3%;
}

