*{
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color: #f2f2f2;
    background-image: url("../Pictures/background.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    /*height of the body element will always be the size of the entire viewport*/
    height: 100vh;
}

.main-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;  
    margin: 60px auto;
    width: 84%;
    overflow: hidden;
    position: relative;
}

.main-container img{
    max-height: 200px;
    width: 12%;
    opacity: 0.8;
}

.main-container img:hover{
    opacity: 1;
}

.main-container .title-text{
    margin-bottom: 3%;
    position: relative;
    font-weight: bold;

    /*the following code is for responsive design
    3vw makes the font size equal to 3 times the viewport's width
    and it positions the text 20% of the displayfrom the left */
    font-size: 3vw;
    left: 20%;
}

