body{
    padding: 10px;
    background-color: #f2f2f2;
    background-image: url("../Pictures/background.png");

    background-size: cover;
    background-position: center 750px;
}

.main-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;  
    margin: 60px auto;
    width: 84%;
    overflow: hidden;
    position: relative;
}

.title{
    position: relative;
    left: 25%;
    font-size: xx-large;
}

img{
    max-height: 200px;
    width: 170px;
}
